<?xml version="1.0"?>

<model>

  <name>diffdrive</name>

  <version>1.0</version>

  <sdf version='1.4'>model.sdf</sdf>

  <author>

    <name>Fynn Behnke</name>

    <email>fynn.behnke@gmail.com</email>

  </author>

  <description>

        A differential drive mobile robot for VMR simulation.

  </description>

</model>
